[Desktop Entry]
Name=LightDM Elementary Greeter
Comment=This runs the elementary greeter, it should only be run from LightDM
Exec=lightdm-enter-greeter.py
Type=Application
# bodhi
X-Ubuntu-Gettext-Domain=lightdm
